# Data and Models (Crucial for ML projects)
# Don't track large datasets or heavy model weights
data/*.csv
data/*.xlsx
data/*.json
models/*.pkl
models/*.joblib
models/*.h5

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*